.anime{
    opacity: 0;
    /* animation-name: anime;
    animation-duration: 1s;
    animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: fadeIn 1s ease-in-out 0s 1 normal forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .anime-close{
    animation: fadeIn 5ms ease-in-out 0s 1 normal forwards;
    margin-top: -50px;
    opacity: 0;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
        margin: 0;
      opacity: 1;
    }
  }
  .nostyle{
    color: black;
  }